<!-- <ng-container *ngIf="formData$ | async as formData">
  <ng-container *ngFor="let row of formData">
    <div class="row">
      <div
        class="column"
        *ngFor="let fieldSet of row.row.columns; let i = index"
      >
        {{ i }}
        <dot-form [fieldset]="fieldSet.fields"></dot-form>
      </div>
    </div>

  </ng-container>
</ng-container> -->
<!-- <dot-form [fieldset]="row.row.columns"></dot-form> -->
<ng-container *ngIf="formData$ | async as formData">
  <dot-form [formData]="formData" ></dot-form>
  <pre><code>{{formData | json}}</code></pre>
</ng-container>
